# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/antlr/examples/Test1/nbproject/private/
/antlr/examples/Test1/build/
/antlr/examples/Test1/dist/
/antlr/examples/MiniPortugol/nbproject/private/
/antlr/examples/MiniPortugol/build/
/antlr/examples/MiniPortugol/dist/
/parsers/antlr/AntlrTest/nbproject/private/
/parsers/antlr/AntlrTest/build/
/parsers/antlr/AntlrTest/dist/
/parsers/antlr/CalcTest/nbproject/private/
/parsers/antlr/CalcTest/build/
/parsers/antlr/CalcTest/dist/
/parsers/antlr/BasicInt/nbproject/private/
/parsers/antlr/BasicInt/build/
/parsers/antlr/BasicInt/dist/
/parsers/antlr/BasicIntAST/nbproject/private/
/parsers/antlr/BasicIntAST/build/
/parsers/antlr/BasicIntAST/dist/
/parsers/antlr2018/AntlrTest/nbproject/private/
/parsers/antlr2018/AntlrTest/build/
/parsers/antlr2018/AntlrTest/dist/